.input{
    margin-top: 0;
    border-radius: 50px;
    shape-outside: none;
    outline: none;
}

/* span{
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    font-size: 55px;
    letter-spacing: 10px;
    color: bisque;
    margin: 20px;
} */